.display-3 {
    text-align: center;
    color: white;
}

.lead {
    text-align: center;
    color: white;
}

.jumbotron {
    border-radius: 10px;
    background: blue;
}

.my-4 {
    background-color: white;
}